[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
ignore = ANN101,D100,D104,D105,E203,E501,W503
per-file-ignores = tests/*:S101,ANN
max-line-length = 120
max-complexity = 10
application-import-names = mapaction_rds_dashboard,tests
import-order-style = google
docstring-convention = pep257
